@charset "utf-8";
/* CSS Document */
@import url("base.css");

html.html-wap, body.body-wap{width:100%; height:100%; overflow:hidden;}
body{font-size:0.14rem; background:#fff;}
a, a:hover{text-decoration:none;}
*{touch-action:pan-y;}

.num{position:fixed; z-index:999; right:0; bottom:0; line-height:0.15rem; font-size:12px; color:#fff; padding-right:0.05rem;}

.wap-detail, .wap-detail ul, .wap-detail ul li{position:relative; width:100%; height:100%; overflow:hidden;}
.wap-detail ul li{position:absolute; left:0; top:0; -webkit-transition:-webkit-transform 0.5s ease-out; transition:transform 0.5s ease-out; background:no-repeat center center; background-size:cover;}
.wap-detail ul li.swipeOutTop{-webkit-transform:translateY(-100%); transform:translateY(-100%);}
.wap-detail ul li.swipeOutBottom{-webkit-transform:translateY(100%); transform:translateY(100%);}
.wap-detail ul li > div{position:absolute; text-align:left; overflow:hidden;}
.wap-detail ul li > div a{display:block; text-decoration:none; color:inherit; font-size:inherit; font-weight:inherit; width:100%; height:100%; overflow:hidden;}
.wap-detail ul li > div span{display:block; color:inherit; font-size:inherit; font-weight:inherit; width:100%; height:100%; overflow:hidden;}
.wap-detail ul li > div span font{display:block; color:inherit; font-size:inherit; font-weight:inherit; word-wrap:break-word; box-sizing:border-box; padding:0.07rem 0.15rem; height:100%;}
.wap-detail ul li > div img{width:100%; height:100%; vertical-align:bottom;}

.wap-detail section{position:absolute; left:50%; bottom:0.3rem; z-index:150; cursor:default; width:2.5rem; height:0.14rem; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
.wap-detail section div{position:relative; width:100%; height:100%; text-align:center; color:#fff; font-size:0.18rem; font-weight:bold; -webkit-animation:start 1.5s infinite ease-in-out; animation:start 1.5s infinite ease-in-out;}
.wap-detail section div img{width:0.22rem; height:0.22rem; margin:-0.07rem 0 0 0.01rem; -webkit-animation:start 1.5s infinite ease-in-out; animation:start 1.5s infinite ease-in-out;}

.wap-detail .music{position:absolute; z-index:101; top:0.1rem; right:0.1rem; cursor:pointer; text-align:center; width:0.34rem; height:0.34rem; box-sizing:border-box; border-radius:100%; border:0.01rem dashed #fff; padding:0.02rem;}
.wap-detail .music:after{content:""; display:block; width:100%; height:100%; border-radius:100%; background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1024%20512c0-282.763636-229.236364-512-512-512C229.236364%200%200%20229.236364%200%20512c0%20282.763636%20229.236364%20512%20512%20512C794.763636%201024%201024%20794.763636%201024%20512zM428.916364%20672.628364c0%2012.520727-3.490909%2030.114909-7.540364%2039.144727-11.543273%2025.088-48.174545%2046.638545-77.730909%2046.638545-18.059636%200-32.116364-5.026909-40.634182-14.522182-6.516364-8.005818-11.031273-19.549091-11.031273-30.114909%200-22.574545%2017.035636-43.147636%2044.637091-54.178909%2011.031273-4.514909%2021.085091-6.516364%2030.580364-6.516364%2015.546182%200%2029.602909%202.513455%2039.610182%207.028364L406.807273%20355.095273l291.467636-70.749091%200%20317.021091c0%2025.088-8.517818%2045.149091-25.088%2060.695273-18.059636%2016.058182-40.634182%2025.6-62.184727%2025.6-18.059636%200-31.604364-5.026909-40.122182-14.522182-6.516364-8.005818-11.031273-19.549091-11.031273-30.114909%200-19.549091%2013.032727-38.120727%2034.629818-49.664%2011.543273-6.004364%2029.602909-11.543273%2039.144727-11.543273%2015.546182%200%2030.580364%202.513455%2042.635636%207.540364L676.258909%20366.638545%20428.916364%20428.311273%20428.916364%20672.628364z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") no-repeat center center; background-size:cover;}
.wap-detail .music.isPlaying{-webkit-animation:playing-spin 3s steps(36, end) infinite; animation:playing-spin 3s steps(36, end) infinite;}
.wap-detail audio{display:none;}

@-webkit-keyframes start{
0%,30%{opacity:0; -webkit-transform:translate(0, 0.1rem);}
60%{opacity:1; -webkit-transform:translate(0, 0);}
100%{opacity:0; -webkit-transform:translate(0, -0.08rem);}
}
@keyframes start{
0%,30%{opacity:0; transform:translate(0, 0.1rem);}
60%{opacity:1; transform:translate(0, 0);}
100%{opacity:0; transform:translate(0, -0.08rem);}
}
@-webkit-keyframes playing-spin{
0%{-webkit-transform:rotateY(0);}
100%{-webkit-transform:rotateY(360deg);}
}
@keyframes playing-spin{
0%{transform:rotateY(0);}
100%{transform:rotateY(360deg);}
}

.article-detail .title{font-size:0.24rem; text-align:left; padding:0.15rem;}
.article-detail .con{font-size:0.14rem; text-align:left; padding:0 0.15rem;}
.article-detail .prev, .article-detail .next{text-align:left; padding:0 0.15rem 0.15rem 0.15rem;}
.article-detail .next{padding-bottom:0.15rem;}
.article-detail .footer{text-align:left; padding:0 0.15rem 0.15rem 0.15rem; font-size:0.14rem; color:#8c8c8c;}
.article-detail .footer a, .article-detail .footer a:hover{font-size:0.14rem; color:#607fa6;}
.article-detail .audio{position:fixed; z-index:200; right:0.2rem; top:0.2rem; width:0.3rem; height:0.3rem; background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2260px%22%20width%3D%2260px%22%3E%3Cpath%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20opacity%3D%220.502%22%20fill%3D%22%23000000%22%20d%3D%22M30%2C1%20C46.016%2C1%2059%2C13.984%2059%2C30%20C59%2C46.016%2046.016%2C59%2030%2C59%20C13.984%2C59%201%2C46.016%201%2C30%20C1%2C13.984%2013.984%2C1%2030%2C1%20Z%20%22%2F%3E%3Cpath%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20d%3D%22M30%2C60%20C13.431%2C60%200%2C46.569%200%2C30%20C0%2C13.431%2013.431%2C0%2030%2C0%20C46.569%2C0%2060%2C13.431%2060%2C30%20C60%2C46.569%2046.569%2C60%2030%2C60%20ZM30%2C3%20C15.088%2C3%203%2C15.088%203%2C30%20C3%2C44.912%2015.088%2C57%2030%2C57%20C44.912%2C57%2057%2C44.912%2057%2C30%20C57%2C15.088%2044.912%2C3%2030%2C3%20Z%20%22%20fill%3D%22%23ffffff%22%2F%3E%3Cpath%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20d%3D%22M31.088%2C10%20C31.37%2C12.001%2031.41%2C14.524%2033.506%2C17.047%20C35.117%2C18.969%2036.931%2C20.69%2038.18%2C22.252%20C39.832%2C24.294%2041%2C26.857%2041%2C29.46%20C41%2C33.624%2038.986%2C37.747%2037.615%2C40.03%20C37.615%2C40.03%2036.971%2C40.03%2036.971%2C40.03%20C37.938%2C37.868%2039.872%2C34.304%2039.71%2C30.501%20C39.63%2C28.378%2038.824%2C26.096%2037.455%2C24.415%20C35.923%2C22.452%2033.344%2C20.891%2031.088%2C20.731%20C31.088%2C20.731%2031.088%2C43.433%2031.088%2C43.433%20C31.088%2C45.235%2030%2C46.877%2028.429%2C48.078%20C26.898%2C49.279%2024.883%2C50%2023.11%2C50%20C21.982%2C50%2020.934%2C49.64%2020.209%2C49.039%20C19.443%2C48.438%2019%2C47.558%2019%2C46.517%20C19%2C44.875%2020.128%2C43.233%2021.659%2C42.032%20C23.191%2C40.791%2025.124%2C39.99%2026.736%2C39.99%20C28.147%2C39.99%2029.355%2C40.19%2030.081%2C40.871%20C30.081%2C40.871%2030.081%2C10%2030.081%2C10%20C30.081%2C10%2031.088%2C10%2031.088%2C10%20Z%20%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E") no-repeat center center; background-size:cover;}
.article-detail .audio.isPlaying{-webkit-animation:rotate-spin 3s steps(36, end) infinite; animation:rotate-spin 3s steps(36, end) infinite;}
@-webkit-keyframes rotate-spin{
0%{-webkit-transform:rotate(0);}
100%{-webkit-transform:rotate(360deg);}
}
@keyframes playing-spin{
0%{transform:rotate(0);}
100%{transform:rotate(360deg);}
}
