<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$WEB_NAME}，微信开发，微信运营，免费开源的小程序和公众号管理引擎</title>
<meta name="keywords" content="{$WEB_NAME}，微信开发，微信运营">
<meta name="description" content="{$WEB_NAME}，微信第三方管理引擎，满足各类微信开发的需求，是国内免费开源的微信运营管理系统。">
<link rel="stylesheet" href="/css/about/app.css">
<link rel="stylesheet" href="/css/about/font_588424_z1ml7qlcwsm.css">
<link rel="stylesheet" href="/css/about/www.css">
<script src="/css/about/jquery-1.11.1.min.js"></script>
<script src="/css/about/jquery.SuperSlide.2.1.2.js"></script>
</head>

<body>
<div class="heaer-static index-top">
	<div id="header"><div class="we7-plugin-head Nav-Header"><div class="head-right"><a href="/index/login" class="head-item">登录</a><a href="/index/login" class="head-item">注册</a></div></div></div>
</div>
    <div class="about www-container">
        <div class="header">
            关于{$WEB_NAME}
        </div>
        <div class="content">
            <div class="">
                <div class="about-item">
                    <img src="/css/about/about-1.png" alt="">
                    <h3>开发架构</h3>
                    <div class="desc">
                        基于目前流行的WEB2.0的架构(php+mysql)，拥有成熟、稳定的的技术解决方案。
                    </div>
                </div>
                <div class="about-item">
                    <img src="/css/about/about-2.png" alt="">
                    <h3>系统可控性</h3>
                    <div class="desc">
                        源码透明、开放，一切的数据及资源都架设在自己的服务上，保证独立性、安全性及可控性。
                    </div>
                </div>
                <div class="about-item">
                    <img src="/css/about/about-3.png" alt="">
                    <h3>开放的生态理念</h3>
                    <div class="desc">
                        活跃的第三方开发者及开发团队，依托{$WEB_NAME}开放生态系统，轻松扩展。
                    </div>
                </div>
                <div class="about-item">
                    <img src="/css/about/about-4.png" alt="">
                    <h3>完善的售后体系</h3>
                    <div class="desc">
                        优质的在线更新系统、客服人员、技术工程师解决使用或是开发上的各种疑难问题。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="can ">
        <div class="www-container">
            <div class="header">
                {$WEB_NAME}可帮助您实现什么
            </div>
            <div class="can-content">
                <div class="can-left">
                    <ul>
                        <li class="left-item active">分权</li>
                        <li class="left-item">系统</li>
                        <li class="left-item">小程序</li>
                        <li class="left-item">公众号</li>
                        <li class="left-item">PC端</li>
                        <li class="left-item">前端首页</li>
                        <li class="left-item">APP端</li>
                    </ul>
                </div>
                <div class="can-right">
                    <div class="right-item">
                        <div class="info">
                            <div class="header">分权功能</div>
                            <div class="info-item">
                                <img src="/css/about/www-help-1-1.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">服务平台</div>
                                    <div class="desc">平台下可建立无数个用户，系统不限制小程序和公众号数量，支持商业运营。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-1-2.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">代理平台</div>
                                    <div class="desc">平台内具备代理功能，支持三级代理模式，{$WEB_NAME}用户可利用此功能大规模招募代理，扩展用户渠道和资源。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-1-3.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">集团公司</div>
                                    <div class="desc">支持员工分权，可满足各大集团，企业，政府机关等单位员工管理和运营差异化。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-1-4.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">团队和个人</div>
                                    <div class="desc">无需二次开发，即买即用，提供软件和运营一体化解决方案。</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-item" style="display: none;">
                        <div class="info">
                            <div class="header">系统方面</div>
                            <div class="info-item">
                                <img src="/css/about/www-help-2-1.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">定制拓展化</div>
                                    <div class="desc">系统百分百开源，可二次开发，{$WEB_NAME}官方提供开发文档，应用商城近万款应用，满足各类微信运营的需求。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-2-2.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">安全性</div>
                                    <div class="desc">数据和源码都在您自己的服务器上，保证系统的独立性，安全性和可控性。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-2-3.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">拥有成熟的解决方案</div>
                                    <div class="desc">{$WEB_NAME}是国内微信第三方系统提供商之一，拥有多年的开发经验和运营经验，海量功能和完善的服务，保证系统的多样性和稳定性。</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-item" style="display: none;">
                        <div class="info">
                            <div class="header">{$WEB_NAME}在小程序端的应用</div>
                            <div class="info-item">
                                <img src="/css/about/www-help-3-1.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">海量模板任您选择</div>
                                    <div class="desc">包含餐饮，商城，建站，营销，游戏，行业等上千款。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-3-2.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">一键式生成</div>
                                    <div class="desc">无需代码操作，一键生成小程序。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-3-3.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">无限生成</div>
                                    <div class="desc">配系统自带oem和odm功能，可无限发展代理，用户，代运营等。</div>
                                </div>
                            </div>
                        </div>
                                                <div class="hot-tag">
                            <div class="header">
                                热门标签
                            </div>
                            <div class="tag">
                                <ul class="tag-list">
	                                <li><a href="/"> 吸粉 </a></li>
		                            <li><a href="/"> 商城 </a></li>
		                            <li><a href="/"> 二手 </a></li>
	                                <li><a href="/"> 预定 </a></li>
	                                <li><a href="/"> 视频 </a></li>
	                                <li><a href="/"> 企业 </a></li>
                                </ul>
                                <div class="tag-more">
                                    <img src="/css/about/tag-more.png" alt="">
                                    <a href="/">更多应用 &gt;</a>
                                </div>
                            </div>
                        </div>
                                            </div>
                    <div class="right-item" style="display: none;">
                        <div class="info">
                            <div class="header">{$WEB_NAME}公众号端的应用</div>
                            <div class="info-item">
                                <img src="/css/about/www-help-4-1.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">无限制绑定</div>
                                    <div class="desc">搭配系统自带oem和odm功能，可无限发展代理，用户，代运营等。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-4-2.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">海量应用</div>
                                    <div class="desc">任您选择：包含餐饮，商城，酒店，拼团，门店，会员，会员，支付，营销，游戏，抽奖，吸粉，物联网和人工智能应用。</div>
                                </div>
                            </div>
                        </div>
                                                <div class="hot-tag">
                            <div class="header">
                                热门标签
                            </div>
                            <div class="tag">
                            <ul class="tag-list">
	                            <li><a href="/"> 红包 </a></li>
	                            <li><a href="/"> 分销 </a></li>
	                            <li><a href="/"> 直播 </a></li>
	                            <li><a href="/"> 关注 </a></li>
	                            <li><a href="/"> 教育 </a></li>
	                            <li><a href="/"> 餐饮 </a></li>
	                            <li><a href="/"> 现场 </a></li>
	                            <li><a href="/"> 商城 </a></li>
                            </ul>
                                <div class="tag-more">
                                    <img src="/css/about/tag-more.png" alt="">
                                    <a href="/">更多应用 &gt;</a>
                                </div>
                            </div>
                        </div>
                                            </div>
                    <div class="right-item" style="display: none;">
                        <div class="info">
                            <div class="header">{$WEB_NAME}在PC端的应用</div>
                            <div class="info-item">
                                <img src="/css/about/www-help-5-1.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">企业官网的搭建</div>
                                    <div class="desc">适用于各行各业的企业官网模板，一键式生成，网站素材轻松导入。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-5-2.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">营销功能</div>
                                    <div class="desc">AR，大屏幕等各类营销功能。</div>
                                </div>
                            </div>
                        </div>
                                            </div>
                    <div class="right-item" style="display: none;">
                        <div class="info">
                            <div class="header">{$WEB_NAME}在前端首页上的应用</div>
                            <div class="info-item">
                                <img src="/css/about/www-help-3-1.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">海量前端模板任您选择</div>
	                                <!-- <div class="desc">适用于各行各业的企业官网模板，一键式生成，网站素材轻松导入。</div> -->
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-6-2.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">适用各行各业前端宣传页面的需求</div>
	                                <!-- <div class="desc">AR，大屏幕等各类营销功能。</div> -->
                                </div>
                            </div>
                        </div>
                                            </div>
                    <div class="right-item" style="display: none;">
                        <div class="info">
                            <div class="header">{$WEB_NAME}在APP端的应用</div>
                            <div class="info-item">
                                <img src="/css/about/www-help-7-1.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">专业服务商打造</div>
                                    <div class="desc">提供完善的售后和产品研发服务。</div>
                                </div>
                            </div>
                            <div class="info-item">
                                <img src="/css/about/www-help-7-2.png" class="logo" alt="">
                                <div class="text">
                                    <div class="title">为您的业务增添多样性，保证人无我有，人有我精</div>
	                                <!-- <div class="desc">AR，大屏幕等各类营销功能。</div> -->
                                </div>
                            </div>
                        </div>
                                             </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app">
        <div class="www-container">
            <div class="header">应用商城，海量应用，随心所选</div>
            <div class="hot-category panel ">
                <div class="panel-heading">
                    <img src="/css/about/app-hot.png" class="icon" alt="">热门分类
                </div>
                <div class="panel-body">
                    <div class="nums">
                        <div class="item">
                            <div class="name">商城模块总计</div>
                            <div class="num">25018+</div>
                        </div>
                        <div class="item">
                            <div class="name">新增应用</div>
                            <div class="num">133</div>
                        </div>
                    </div>
                    <div class="categorylist">
	                    <a class="category-item" href="/">教育</a>
	                    <a class="category-item" href="/">商城</a>
	                    <a class="category-item" href="/">游戏</a>
	                    <a class="category-item" href="/">直播</a>
	                    <a class="category-item" href="/">名片</a>
	                    <a class="category-item" href="/">吸粉</a>
	                    <a class="category-item" href="/">零售</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="school">
        <div class="www-container">
            <div class="header">
                运营学院
            </div>
            <div class="content">
                <div class="school-item">
                    <img src="/css/about/school-1.jpg" alt="">
                    <div class="info">
                        <div class="title">
                        价值百万的创富单页你值得拥有
                        </div>
                        <div class="desc">
                        从事网络创业多年，操作过许多的项目，在这介绍一个适合新手操作的项目，纯属学习交流，希望对大家有帮助。
                        </div>
                        <a href="/">查看更多<i class="wi wi-more1"></i></a>
                    </div>
                </div>
                <div class="school-item">
                    <img src="/css/about/school-2.jpg" alt="">
                    <div class="info">
                        <div class="title">
                        微信在支付中那些事
                        </div>
                        <div class="desc">
                        收银，一个商业行为中简单又重要的一环，一直是我想说清楚的。除了自身大学专业是会计外，更加因为此行业的广泛新。
                        </div>
                        <a href="/">查看更多<i class="wi wi-more1"></i></a>
                    </div>
                </div>
                <div class="school-item">
                    <img src="/css/about/school-3.jpg" alt="">
                    <div class="info">
                        <div class="title">
                        一篇文章如何做到吸粉6.3万粉丝！
                        </div>
                        <div class="desc">
                        总之呢，运营公众号，或者是运营第三方平台，绝大部分人是奔着赚钱去的。希望大家快乐的吸粉~轻松的赚钱~别太辛苦~
                        </div>
                        <a href="/">查看更多<i class="wi wi-more1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="www-container">
            <div class="header">
                用户感言
            </div>
            <div class="content">
                <div class="titCell">
                    <div class="prev"><span aria-hidden="true" class="wi wi-angle-left"></span></div>
                    <div class="next"><span aria-hidden="true" class="wi wi-angle-right"></span></div>
                </div>
                <div class="tempWrap" style="overflow:hidden; position:relative; width:1230px"><div class="mainCell" style="width: 4510px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -820px;"><div class="user-item clone" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-4.png" alt="">   涟水微报
                        </div>
                        <div class="desc">
                        涟水微报是涟水日报社主管的微信订阅号，在使用过若干种微信第三方营销平台后，最终落脚于{$WEB_NAME}，界面友好、功能全面、售后保障，{$WEB_NAME}非常适合商用！
                        </div>
                    </div>
                    <div class="user-item" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-7.png" alt="">昆明云猫网络科技有限公司
                        </div>
                        <div class="desc">
                        从最初的兼职做{$WEB_NAME}商城里的家校通到全职做到一个团队做；我们伴随着{$WEB_NAME}成长；其中，酸甜苦辣自然是都有体会，不管怎样都在向更好的方向发展。感谢{$WEB_NAME}平台，让我们这边技术人员有机会施展抱负
                        </div>
                    </div>
                    <div class="user-item" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-8.jpg" alt=""> 深圳市米花创达科技有限公司
                        </div>
                        <div class="desc">
                        一次很偶然的机会，了解到了{$WEB_NAME}，首次使用就感觉到微信公众号开发运营竟能变得如此便利。模块功能日益完善，商用的用户也越来越多。
                        </div>
                    </div>
                    <div class="user-item" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-6.jpg" alt="">丽水学院
                        </div>
                        <div class="desc">
                        2014年初开始运营微信，当时无意中发现了一个免费开源的第三方平台——{$WEB_NAME}，自己本身不是计算机专业出身，但发现这个上手也很容易，自己也学着去开发一些小模块。运营了一年之后，也接触到很多其他iv&gt;的第三方平台，但最终还是发现{$WEB_NAME}比其他第三方都好用。
                        </div>
                    </div>
                    <div class="user-item" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-1.jpeg" alt="">每天进步一点点
                        </div>
                        <div class="desc">
                        2年前开始用，一直用到现在，自己购买应用充了有1.5万左右，算是小小的忠实用户了。之所以坚持用到现在有3个原因：1、比自己找程序员要省很多钱，一个好点的程序，一个月的工资可能都不止1万。2、出现新的涨粉方法，应用市场会第一时间出现。3、购买的应用可以用到多个帐号，很高效。
                        </div>
                    </div>
                    <div class="user-item" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-2.jpg" alt=""> 厦门市民卡
                        </div>
                        <div class="desc">
                        {$WEB_NAME}强大的粉丝管理和模块拓展机制，可以让我们选择更多的适合自己的模块，有很多好玩的营销工具，如口令红包、砍价、拼团，结合这些营销模块，我们能够轻松的将粉丝在微信公众号沉淀下来，并完成转化。
                        </div>
                    </div>
                    <div class="user-item" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-5.png" alt="">  牛贝网络
                        </div>
                        <div class="desc">
                        目前用过比较好的微信平台第三方框架程序，框架稳定可靠，官方升级更新也很快，免去了使用者对框架稳定性的担忧！同时{$WEB_NAME}框架第三方功能模块众多，各类型各行业基本的需要都可以满足，还有大量的优质模块开发者为我们提供着定制开发服务，大赞！
                        </div>
                    </div>
                    <div class="user-item" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-4.png" alt="">   涟水微报
                        </div>
                        <div class="desc">
                        涟水微报是涟水日报社主管的微信订阅号，在使用过若干种微信第三方营销平台后，最终落脚于{$WEB_NAME}，界面友好、功能全面、售后保障，{$WEB_NAME}非常适合商用！
                        </div>
                    </div>
                <div class="user-item clone" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-7.png" alt="">昆明云猫网络科技有限公司
                        </div>
                        <div class="desc">
                        从最初的兼职做{$WEB_NAME}商城里的家校通到全职做到一个团队做；我们伴随着{$WEB_NAME}成长；其中，酸甜苦辣自然是都有体会，不管怎样都在向更好的方向发展。感谢{$WEB_NAME}平台，让我们这边技术人员有机会施展抱负
                        </div>
                    </div><div class="user-item clone" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-8.jpg" alt=""> 深圳市米花创达科技有限公司
                        </div>
                        <div class="desc">
                        一次很偶然的机会，了解到了{$WEB_NAME}，首次使用就感觉到微信公众号开发运营竟能变得如此便利。模块功能日益完善，商用的用户也越来越多。
                        </div>
                    </div><div class="user-item clone" style="float: left; width: 320px;">
                        <div class="title text-over">
                            <img src="/css/about/testimonials-6.jpg" alt="">丽水学院
                        </div>
                        <div class="desc">
                        2014年初开始运营微信，当时无意中发现了一个免费开源的第三方平台——{$WEB_NAME}，自己本身不是计算机专业出身，但发现这个上手也很容易，自己也学着去开发一些小模块。运营了一年之后，也接触到很多其他iv&gt;的第三方平台，但最终还是发现{$WEB_NAME}比其他第三方都好用。
                        </div>
                    </div></div></div>

            </div>
        </div>
	    <div style="font-size:12px;text-align:center;padding-bottom:30px;"><a href="http://www.beian.miit.gov.cn/" target="_blank">粤ICP备20060163号</a></div>
    </div>
        <div class="we7-suspend-contact detail ">	<div class="item js-top"><i class="wi wi-angle-up"></i><div>TOP</div></div>
</div>
<script>
$(function(){
	var $top = document.querySelector('.js-top');
	$top.addEventListener('click', function() {
		window.scrollTo(0,0);
	});
	$(".can-content").slide({ mainCell: ".can-right", titCell: ".can-left li", titOnClassName: 'active' });
	$('.user .www-container').slide({ mainCell: '.mainCell', vis:3, titOnClassName: 'active', effect: 'leftLoop', autoPlay:true, delayTime:1000 });
});
</script>
</body>
</html>