{include file="header"}
<body>
<div class="scene-copy">
	<div class="header">
		<a href="javascript:void(0)" class="eqf-wrong" coo-click="dialogClose"></a>
		<h4>修改密码</h4>
	</div>
	<ul class="view">
		<li><span>用户名</span>{$member.name}</li>
		<li><span>原始密码</span><input type="password" id="origin_password" placeholder="原始密码" /></li>
		<li><span>新密码</span><input type="password" id="password" placeholder="密码6~16个字符(英文字母或数字 区分大小写)" /></li>
		<li><span>确认密码</span><input type="password" id="repassword" placeholder="确认密码" /></li>
	</ul>
	<div class="btns">
		<a href="javascript:void(0)">确定</a>
		<a href="javascript:void(0)">取消</a>
	</div>
</div>

{include file="footer"}
<script>
$(function(){
	$('.btns a').click(function(){
		switch($(this).index()){
			case 0:
				var origin_password = $('#origin_password').removeClass('error').val(),
					password = $('#password').removeClass('error').val(),
					repassword = $('#repassword').removeClass('error').val();
				if(!origin_password.length){
					$('#origin_password').addClass('error');
					return;
				}
				if(!password.length){
					$('#password').addClass('error');
					return;
				}
				if(!repassword.length){
					$('#repassword').addClass('error');
					return;
				}
				if(password !== repassword){
					$('#password, #repassword').addClass('error');
					$.overloadError('两次密码不一致');
					return;
				}
				window.top.password(origin_password, password);
				dialogClose();
				break;
			case 1:
				dialogClose();
				break;
		}
	});
});
</script>